@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background: linear-gradient(180deg, #E69023 0%, #BF5002 100%), #FFF;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login-logo {
  width: 188px;
  height: 139px;
}

.header-logo {
  width: 100px;
  height: 40px;
}

.rounded-thumbnail {
  border: 2px solid #ffffff;
}

.profile-picture {
  transform: translate(0%, -50%);
}